* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    margin: 0px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #444;
    line-height: 140%;

    background: #001225; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #001225 0%, #000000 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#001225), color-stop(100%,#000000)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #001225 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #001225 0%,#000000 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #001225 0%,#000000 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #001225 0%,#000000 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001225', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.stars {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: repeat;
}
.small.stars {
	background-image: url("img/smallStars.png");
}
.large.stars {
	background-image: url("img/largeStars.png");
}
canvas {
    pointer-events: none;
    display: block;
}      
#msgBox {
	position: absolute;
	background-color: #fff;
	border-radius: 10px;
	width: 500px;
	height: 400px;
	top: 50%;
	margin-top: -200px;
	left: 50%;
	margin-left: -250px;
}

#msgBox header {
	background-color: #f5f5f5;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
	border-bottom: 1px solid #ddd;
	box-shadow: inset 0 -1px 0 #fff;
	margin-bottom: 10px;
}

#msgBox h1 {
	margin: 0px;
	padding: 0px;
	line-height: 100%;
	text-shadow: 0 1px 0 #fff;
}

#msgBox p {
	padding: 5px 20px;
}

#msgBox input[type="text"] {
	width: 200px;
	border: 1px solid #ccc;
	padding: 7px;
	border-radius: 5px;
	width: 100%;
}

#msgBox a.button {
	background-color: #5bb75b;
	border-radius: 5px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-image: linear-gradient(to bottom,#62c462,#51a351);
	background-repeat: repeat-x;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	color: #fff;
	padding: 5px 10px;
	display: inline-block;
	text-decoration: none;
	margin: 5px 0;
}

#msgBox footer {
	text-align: center;
}

#msgBox footer a {
	text-decoration: none;
	color: #1976c5;
}

#msgBox footer a:hover {
	text-decoration: underline;
}

#msgBox table {
	width: 100%;
}

/* Select the 3 first rows */
#msgBox table tr:nth-child(n+0):nth-child(-n+3) td {
	font-weight: bold;
}

#msgBox table tr td {
	padding: 0px 20px;
}

#msgBox table tr td:last-child {
	text-align: right;
}

#msgBox .yscroll {
	overflow-y: scroll;
	position: relative;
	height: 253px;
	background: url("img/scrollShadow.png");
}